indexer:
  enabled: true

engine:
  name: tofu

dirs:
  '**/*.py':
    tags: [cdktf-python, dev]
    when_modified:
      file_patterns: ['${DIR}/*.py']
  envs/prod/**/*.tf:
    tags: [prod]
  envs/dev/**/*.tf:
    tags: [dev]
  '**/terragrunt.hcl':
    tags: [terragrunt, prod]
    when_modified:
      file_patterns: ['${DIR}/*.hcl', '${DIR}/*.tf', '${DIR}/../_envcommon/**/*.tf', '${DIR}/../_envcommon/**/*.hcl']

access_control:
  policies:
    - tag_query: prod
      apply: ['repo:admin', 'repo:write']
      superapproval: ['repo:admin']
      apply_with_superapproval: ['*']
    - tag_query: dev
      apply: ['*']

workflows:
  - tag_query: cdktf-python
    engine:
      name: cdktf
    plan:
      - type: env
        name: TERRATEAM_TERRAFORM_VERSION
        cmd: ['echo', 'latest']
      - type: env
        name: PIPENV_CACHE_DIR
        cmd: ['echo', '/tmp/pipenv']
      - type: env
        name: XDG_CACHE_HOME
        cmd: ['echo', '/tmp/xdg_cache_home']
      - type: env
        name: XDG_DATA_HOME
        cmd: ['echo', '/tmp/xdg_data_home']
      - type: env
        name: XDG_CONFIG_HOME
        cmd: ['echo', '/tmp/xdg_config_home']
      - type: run
        cmd: ['pip', 'install', 'pipenv']
      - type: env
        name: CDKTF_LOG_LEVEL
        cmd: ['echo', 'all']
      - type: run
        cmd: ['pipenv', 'install']
      - type: init
      - type: plan
    apply:
      - type: env
        name: PIPENV_CACHE_DIR
        cmd: ['echo', '/tmp/pipenv']
      - type: env
        name: XDG_CACHE_HOME
        cmd: ['echo', '/tmp/xdg_cache_home']
      - type: env
        name: XDG_DATA_HOME
        cmd: ['echo', '/tmp/xdg_data_home']
      - type: env
        name: XDG_CONFIG_HOME
        cmd: ['echo', '/tmp/xdg_config_home']
      - type: run
        cmd: ['pip', 'install', 'pipenv']
      - type: env
        name: CDKTF_LOG_LEVEL
        cmd: ['echo', 'debug']
      - type: init
      - type: apply
  - tag_query: terragrunt
    engine:
      name: terragrunt
    plan:
      - type: env
        name: AWS_ACCESS_KEY_ID
        cmd: ['echo', '$DEV_ACCESS_KEY_ID']
      - type: env
        name: AWS_SECRET_ACCESS_KEY
        cmd: ['echo', '$DEV_SECRET_ACCESS_KEY']
      - type: init
      - type: plan
    apply:
      - type: env
        name: AWS_ACCESS_KEY_ID
        cmd: ['echo', '$DEV_ACCESS_KEY_ID']
      - type: env
        name: AWS_SECRET_ACCESS_KEY
        cmd: ['echo', '$DEV_SECRET_ACCESS_KEY']
      - type: init
      - type: apply
  - tag_query: dev
    plan:
      - type: env
        name: AWS_ACCESS_KEY_ID
        cmd: ['echo', '$DEV_ACCESS_KEY_ID']
      - type: env
        name: AWS_SECRET_ACCESS_KEY
        cmd: ['echo', '$DEV_SECRET_ACCESS_KEY']
      - type: init
      - type: plan
    apply:
      - type: env
        name: AWS_ACCESS_KEY_ID
        cmd: ['echo', '$DEV_ACCESS_KEY_ID']
      - type: env
        name: AWS_SECRET_ACCESS_KEY
        cmd: ['echo', '$DEV_SECRET_ACCESS_KEY']
      - type: init
      - type: apply
  - tag_query: prod
    plan:
      - type: env
        name: AWS_ACCESS_KEY_ID
        cmd: ['echo', '$PROD_ACCESS_KEY_ID']
      - type: env
        name: AWS_SECRET_ACCESS_KEY
        cmd: ['echo', '$PROD_SECRET_ACCESS_KEY']
      - type: init
      - type: plan
    apply:
      - type: env
        name: AWS_ACCESS_KEY_ID
        cmd: ['echo', '$PROD_ACCESS_KEY_ID']
      - type: env
        name: AWS_SECRET_ACCESS_KEY
        cmd: ['echo', '$PROD_SECRET_ACCESS_KEY']
      - type: init
      - type: apply

automerge:
  enabled: true
  delete_branch: true

